/* EDITOR HEADER */
.editor-header {
  height: 54px;
  background: #0f0f0f;
  border-bottom: 1px solid #1f1f1f;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 16px;
}

.header-banner {
  height: 28px;
  image-rendering: pixelated;
}

/* SPRITE NAME */
#spriteName {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  text-align: center;
  outline: none;
  width: 200px;
}

#spriteName:hover {
  background: #1a1a1a;
}

#spriteName:focus {
  background: #1a1a1a;
  border-bottom: 1px solid #ff2e2e;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0b0b0b;
  color: #eee;
  font-family: monospace;
  height: 100vh;
}

/* ANA EDITOR */
.editor {
  display: grid;
  grid-template-columns: 60px 1fr 200px;
  height: 100vh;
}

/* TOOLS */
.tools {
  background: #111;
  border-right: 1px solid #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.tools button,
.tools input {
  width: 40px;
  height: 40px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
  cursor: pointer;
}

.tools button:hover {
  background: #2a2a2a;
}

/* CANVAS */
.canvas-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e0e0e;
}

canvas {
  background: #000;
  image-rendering: pixelated;
  cursor: crosshair;
}

/* PANEL */
.panel {
  background: #111;
  border-left: 1px solid #1f1f1f;
  padding: 12px;
}

.panel h3 {
  margin-top: 0;
  color: #ff2e2e;
}
